@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}

body {
    font-family: raleway;
}

#bloc_page{
    width: 100%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}
header h1 {
    color: #0065FC;
}
.logo-text {
    visibility: hidden;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}
nav li {
    margin-right: 40px;
}
nav a {
    font-size: 1em;
    color: #0065FC;
    text-decoration: none;
}
nav a:hover {
    border-top: 1px solid #0065FC;
    margin-top: 50px;
    padding-top: 30px;
}

#filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}
#filtres ul {
    list-style-type: none;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
#filtres ul h2 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#filtres ul li {
    border: 3px solid #f2f2f2;
    padding: 5px;
    border-radius: 25px;
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#filtres ul li i {
    color: #0065FC;
    padding: 10px;
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    background-color: #DEEBFF;
}

.info i {
    color: #0065FC;
    border: 1px solid red;
    border-radius: 50px;
    padding: 5px;
    position: absolute;
    left: 10px;
}

.info {
    margin: 20px;
}

#zone {
    display: flex;
    flex-wrap: nowrap;
}

.hebergement {
    flex: 2;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-right: 50px;
}
h2 {
    margin: 30px;
}
.hebergement-grille .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.hebergement-grille .row:not(:last-child) {
    margin-bottom: 20px;
}
.hebergement-grille article {
    flex: 1;
    margin: 0 30px 30px;
}
.hebergement article {
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    overflow: hidden;
    max-height: 300px;
}
.hebergement article figure {
    margin: 0;
}
.hebergement article img {
    object-fit: cover;
    vertical-align: middle;
    height: 200px;
    width: 100%;
}
.hebergement article figcaption {
    font-size: 15px;
    padding: 5px 2px;
}
.hebergement article figcaption h3 {
    font-size: 20px;
    margin: 0;
}
.hebergement article figcaption > div {
    font-size: 15px;
    margin: 0;
}
.hebergement article figure i {
    color: #0065FC;
    font-size: 10px;
    margin-top: 0px;
}
.plus {
    margin: 30px;
}


.populaire {
    flex: 1;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    padding: 15px;
}
.populaire article {
    background-color: white;
    border-color: white;
    border: 5px solid white;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 20px 20px;
}
.populaire article figure {
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.populaire article figcaption h3 {
    display: flex;
    font-size: 20px;
}
.populaire article figcaption {
    font-size: 10px;
    margin: 15px;
    width: 100%;
}
.populaire article figcaption > div {
    font-size: 16px;
    margin: 0;
}
.populaire article img {
    object-fit: cover;
    vertical-align: middle;
    width: 50%;
    height: 200px;
}
.populaire article .blanc {
    object-fit: cover;
}
.populaire article figure i {
    color: #0065FC;
}

.element h3 {
    margin: 10px;
}
.grille {
    display: flex;
    width: 100%;
    padding: 10px 0;
    height: 600px;
}
article {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 10px;
}
.element {
    background-color: white;
    border-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #f2f2f2;
    overflow: hidden;
    margin: 0 20px 20px;
    background: yellow;
    flex: 2;
}
.activite article figure img {
    object-fit: cover;
    width: 100%;
}
.element:not(:last-child) {
    margin-bottom: 20px;
}

.element-1 img {
    height: 85%;
}
.element-2 {
    flex: 1;
}


footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}
footer ul li {
    font-size: 13.5px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
}
footer ul li a {
    text-decoration: none;
    color: black;
    margin-left: 0px;
}
footer .propos {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#gris {
    color: #f2f2f2;
}

