#bloc_page{
    width: 1024px;
    margin: auto;
}

@font-face {
    font-family: 'raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}


header{
    display: flex;
    justify-content: space-between;
}
header h1{
    color: #0065FC;
}



nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right: 40px;
}
nav a{
    font-size: 1em;
    color: #0065FC;
    text-decoration: none;
}
nav a:hover{
    border-top: 1px solid #0065FC;
    margin-top: auto;
}

section{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

section .hebergement{
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 500px;
    height: 600px;

}

section .hebergement article{
    border: 2px solid white;
    width: 30%;
    display: flex;
}

section .populaire{
    border: #f2f2f2;
    background-color: #f2f2f2;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.gras{
    font-weight: bold;
}



footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    
}