@font-face {
    font-family: 'raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}

body {
    font-family: raleway;
}

#bloc_page{
    width: 1024px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}
header h1 {
    color: #0065FC;
}

nav ul {
    list-style-type: none;
    display: flex;
}
nav li {
    margin-right: 40px;
}
nav a {
    font-size: 1em;
    color: #0065FC;
    text-decoration: none;
}
nav a:hover {
    border-top: 1px solid #0065FC;
    margin-top: auto;
}

section aside {
    display: flex;
}

section .hebergement {
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
section article {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
section article figure {
    border-radius: 5px solid white;
}
section article figcaption {
    font-size: 10px;
}

aside {
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}